html,
body {
    margin: 0;
    padding: 0;
}

* {

    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #EE4266;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

/* DASHBOARD */
.dashboard {
    background-color: #EE4266;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: calc(100% + 2vw);
    color: #FFFFFf;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.dashboard-links a {
    color: #FFFFFf;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: clamp(8px, 16px, 18px);
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    background-color: #efe4e6;
}

.navigation {
    background-color: #fff !important;
}

.top-search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 12.5px 30px;
    justify-content: space-between;
    width: 100%;
}

.top-search form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 62.5%;
    min-width: 250px;
}

.top-search label {
    display: flex;
}

#search {
    height: 30px;
    width: 100%;
    border-radius: 50px;
    background-color: #e6e6e6;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
}

.top-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-profile img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

/* BOTTOM PROFILE */
.bottom-profile {
    display: flex;
    gap: 10px;
    padding: 0px 30px 10px 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px -10px darkgray;
    position: relative;
    z-index: 10;
}

.bottom-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.functional-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.functional-buttons button {
    background-color: #EE4266;
    color: #fff;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}


.grid-container {
    background-color: #efe4e6;
    padding: 25px 15px;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 40px 1fr;
    gap: 20px;
    height: 100%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.right-sidebar {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 30px;
}

.project {
    width: 100%;
    height: 150px;
    background-color: #fff;
    padding: 20px;
}

.announcements {}

.trending {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trend {
    display: flex;
    align-items: center;
}

.trend img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}